body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:618px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:309px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:25px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:618px;
  height:309px;
  font-size:14px;
  line-height:25px;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  word-wrap:break-word;
}
